<%- layout('/layouts/boilderplate.ejs') %>

<br /><br />
<center>
  <h2>Edit Listing</h2>
</center>
<form
  method="post"
  action="/listing/edit/<%=data._id%>?_method=PATCH"
  class="needs-validation"
  novalidate
  enctype="multipart/form-data"
>
  <div class="row">
    <div class="col-8 offset-2">
      <div class="mb-3">
        <label class="form-label">Title: </label>
        <input
          type="text"
          name="listing[title]"
          value="<%=data.title%>"
          class="form-control"
          required
        />
      </div>

      <div class="mb-3">
        <label class="form-label">Description: </label>
        <textarea name="listing[description]" class="form-control" required>
  <%=data.description%></textarea
        >
      </div>

      <div class="mb-3">
        <label class="form-label">Original Image:</label><br />
        <img src="<%=data.image.url%>" height="300" width="340" />
      </div>

      <div class="mb-3">
        <label class="form-label">Upload New Image: </label>
        <input type="file" name="listing[image]" class="form-control" />
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price:</label>
          <input
            type="number"
            name="listing[price]"
            class="form-control"
            value="<%=data.price%>"
            required
          />
        </div>
        <div class="mb-3 col-8">
          <label>Enter Country: </label>
          <input
            type="text"
            name="listing[country]"
            class="form-control"
            value="<%=data.country%>"
            required
          />
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Location: </label>
        <input
          type="text"
          name="listing[location]"
          value="<%=data.location%>"
          class="form-control"
          required
        />
      </div>

      <button type="submit" class="btn btn-dark">Edit</button><br /><br />
    </div>
  </div>
</form>
